*{
    padding: 0;
    margin: 0;
    text-align: center;
}

.questionBox{
    background-image: url("../assets/background.png");
    width: 98.5vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 65vw;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 33px;
    background-color: white;
    background-image: url("../assets/Group 7.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.leftContainer{
    width: 40vh;
    height: 85vh;
    position: absolute;
    left: 17%;
    border-radius: 33px 0 0 33px;
}

.background{
    width: 40vh;
    height: 85vh;
}

.logo{
    position: absolute;
}

.rightContainer{
    width: 100vh;
    height: 85vh;
    position: absolute;
    left: 35.9%;
    border-radius: 0 33px 33px 0;
}

.theme{
    position: absolute;
    left: 85vh;
    top: 4vh;
    height: 6vh;
    width: 11vh;
    border-radius: 5px;
    border: 0px;
    background-color: rgba(111, 83, 221, 1);
    font-size: 16px;
    color: white;
    transition: 0.5s ease;
}

.theme:hover{
    transform: scale(1.1);
    background-color: black;
}

h3{
    margin-top: 20vh;
}

h1{
    margin-top: 5vh;
}

.options{
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 4vh;
}

.option{
    border: 2px solid rgba(225, 225, 225, 1);
    width: 48vh;
    height: 8vh;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vh;
    transition: 0.5s ease;
    box-shadow: 2px 2px 2px rgb(193, 193, 193);
}

.option:hover{
    border: 3px solid rgba(111, 83, 221, 1);
}

.buttonsContainer{
    width: 60vh;
    display: flex;
    justify-content: space-around;
    margin: 4vh 0 0 22vh;
}

.highlight{
    width: 22vh;
    height: 6vh;
    border-radius: 5px;
    border: 0px;
    background-color: rgba(111, 83, 221, 1);
    font-size: 16px;
    color: white;
    transition: 0.5s ease;
}

.highlight:hover{
    transform: scale(1.1);
}

.removeHighlight{
    width: 25vh;
    height: 6vh;
    border-radius: 5px;
    border: 0px;
    background-color: rgba(111, 83, 221, 1);
    font-size: 16px;
    color: white;
    transition: 0.5s ease;
}

.removeHighlight:hover{
    transform: scale(1.1);
}
